#inputSearch1 {
  background-color: transparent;
  color: #fff;
  position: relative;
  display: table;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  width: 438px;
  margin-left: 2rem;
}
#inputSearch1::placeholder {
  padding-left: 1rem;
  color: #fff;
}
#button-addon1 {
  position: absolute;
  top: 0.01rem;
  background: rgba(244, 181, 17, 1);
  color: rgb(70, 56, 50);
  border: none;
  border-radius: 25px;
  right: 0.2rem;
  transform: translateY(2.5px);
}
@media screen and (max-width: 650px) {
  #inputSearch1 {
    width: 300px;
  }
}

#inputSearch2 {
  background-color: transparent;
  color: #fff;
  position: relative;
  display: table;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  width: 438px;
  margin-left: 2rem;
}
#inputSearch2::placeholder {
  padding-left: 1rem;
  color: #fff;
}
#button-addon2 {
  position: absolute;
  top: 0.01rem;
  right: 8.6rem;
  background: rgba(244, 181, 17, 1);
  color: rgb(70, 56, 50);
  border: none;
  border-radius: 25px;
  transform: translateY(2.5px);
}
@media screen and (max-width: 650px) {
  #inputSearch2 {
    width: 270px;
    margin-left: 0;
  }
  #button-addon2 {
    right: 1.8rem;
  }
}
